.rcorners1 {
    border-radius: 75px;
    background: #6a63b6;
    padding : 20px;
    width: 90%;
    height: 50%; 
    margin: auto;
  }

.img1 , .img2, .img3
{
    width: 90%;
    height: 300px;
    margin-left: 50px;
    padding-top: 20px;
}

h1{
  font-size: 2.3em;
  color: rgb(64, 49, 177);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

body{
    text-align: justify;
    background-image: url("image3.webp");
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(27, 22, 22);
}

h3{
    font-size: 2em;
    color: rgb(64, 168, 150);
    text-align: center;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}